In [7]:
import numpy as np
import pandas as pd
from pandas.io.json import json_normalize
from pandas import Series,DataFrame
from pandas import to_datetime
import math

In [8]:
postcode_path = "postcodes.csv"
house_path = "Somerset.csv"
postcode = pd.read_csv(postcode_path,usecols=['postcode', 'Latitude', 'Longitude','Distance To Station (KM)'])
house = pd.read_csv(house_path)
#cities.drop(cities.columns[0],axis=1,inplace=True) # drop 1st columns
#postcode
house
postcode = postcode.rename(columns={'Distance To Station (KM)': 'path2station'})

In [9]:
# info = "TA8 1EW"
# post_info = postcode[(postcode["Postcode"] == info) & (postcode["In Use?"] == "Yes")]
# postcode["new test"] = postcode["Longitude"]
data = pd.merge(house,postcode,how = 'left',left_on='postcode',right_on="postcode")
data.to_csv("raw_data.csv")
data

,postcode,prices,house_types,ownership,new,date,noBed,city,Latitude,Longitude,path2station
0,BA1 3LX,487000,Semi-Detached,0,0,23 Apr 2019,4.0,Bath,51.389438,-2.401029,1.8
1,BA1 6LU,110000,Semi-Detached,0,0,26 Oct 1998,NaN,Bath,51.394622,-2.349173,2.0
2,BA2 4LN,1096000,Semi-Detached,1,0,18 Apr 2019,NaN,Bath,51.371790,-2.355765,0.7
3,BA1 6SH,1250000,Detached,0,0,18 Apr 2019,4.0,Bath,51.398876,-2.345813,2.5
4,BA2 1JR,483000,Semi-Detached,0,0,17 Apr 2019,2.0,Bath,51.373937,-2.390161,0.9
5,BA2 1DR,305000,Semi-Detached,0,0,18 Nov 2011,2.0,Bath,51.379451,-2.397522,1.2
6,BA2 2TB,275000,Semi-Detached,0,0,03 Sep 2004,3.0,Bath,51.358791,-2.383182,2.3
7,BA2 5BG,210000,Semi-Detached,0,0,23 Oct 2002,NaN,Bath,51.361723,-2.353488,1.8
8,BA1 5NR,285000,Semi-Detached,0,0,16 Apr 2019,NaN,Bath,51.391557,-2.357485,1.5
9,BA1 4DZ,185000,Semi-Detached,0,0,25 Sep 2009,3.0,Bath,51.396574,-2.394206,2.1
10,BA2 2TB,250000,Semi-Detached,0,0,15 Apr 2019,2.0,Bath,51.358791,-2.383182,2.3
11,BA1 6BP,136000,Semi-Detached,0,0,26 Aug 2004,3.0,Bath,51.393012,-2.346128,1.9
12,BA1 4DQ,267000,Terraced,0,0,15 Apr 2019,2.0,Bath,51.397893,-2.394793,2.3
13,BA2 3RX,158000,Terraced,0,0,11 Nov 2011,2.0,Bath,51.380634,-2.385304,0.4
14,BA1 7TT,91500,Terraced,0,0,25 Jan 2002,1.0,Bath,51.400837,-2.298647,4.8
15,BA2 5BN,43500,Terraced,0,0,18 Jul 1997,NaN,Bath,51.361483,-2.355511,1.8
16,BA2 6NQ,509995,Detached,0,1,15 Apr 2019,NaN,Bath,51.386963,-2.351342,1.1
17,BA1 2PH,377500,Terraced,1,0,12 Apr 2019,5.0,Bath,51.384857,-2.363857,0.9
18,BA2 5BG,271000,Terraced,1,0,05 May 2006,NaN,Bath,51.361723,-2.353488,1.8
19,BA1 4BT,63245,Terraced,1,0,01 Oct 2002,3.0,Bath,51.395582,-2.386910,1.9
20,BA2 1LL,252000,Semi-Detached,0,0,12 Apr 2019,3.0,Bath,51.371595,-2.396850,1.4
21,BA2 6AZ,170000,Semi-Detached,0,0,14 Jun 2005,2.0,Bath,51.374340,-2.347955,0.7
22,BA2 1AR,170000,Terraced,0,0,12 Apr 2019,3.0,Bath,51.373491,-2.386307,0.8
23,BA1 7EG,185500,Terraced,0,0,30 Jun 2014,6.0,Bath,51.411669,-2.320300,4.6
24,BA1 4DF,130000,Terraced,0,0,06 Jan 2011,2.0,Bath,51.396674,-2.391232,2.1
25,BA1 4EQ,233000,Terraced,0,0,03 Apr 2019,2.0,Bath,51.393907,-2.395807,1.9
26,BA1 2QR,427500,Terraced,0,0,03 Apr 2019,1.0,Bath,51.385571,-2.362569,1.0
27,BA1 3RT,349000,Terraced,0,0,31 May 2017,4.0,Bath,51.393167,-2.399222,2.0
28,BA1 5NY,87500,Terraced,0,0,19 Mar 1999,3.0,Bath,51.390229,-2.359688,1.4
29,BA2 4BP,500000,Semi-Detached,0,0,03 Apr 2019,NaN,Bath,51.384208,-2.355459,0.7
...,...,...,...,...,...,...,...,...,...,...,...
19970,BA21 3AU,136700,Semi-Detached,0,0,11 Mar 2003,2.0,Yeovil,50.946815,-2.644063,2.2
19971,BA20 1BH,54500,Semi-Detached,0,0,01 Jun 1995,2.0,Yeovil,50.941484,-2.640545,1.9
19972,BA20 2EF,79000,Flat,1,0,02 Mar 2018,3.0,Yeovil,50.943770,-2.656290,3.0
19973,BA21 3BQ,84000,Flat,1,0,19 Aug 2005,3.0,Yeovil,50.953535,-2.647189,2.6
19974,BA21 5DQ,66000,Flat,1,0,18 Dec 2002,NaN,Yeovil,50.945781,-2.612292,0.2
19975,BA21 5AH,105000,Semi-Detached,0,0,28 Feb 2018,2.0,Yeovil,50.947887,-2.617060,0.5
19976,BA21 4BN,295000,Semi-Detached,0,0,27 Feb 2018,4.0,Yeovil,50.945500,-2.631319,1.3
19977,BA20 2DT,145000,Semi-Detached,0,0,07 Jun 2002,3.0,Yeovil,50.941123,-2.645607,2.3
19978,BA21 3SU,177000,Semi-Detached,0,0,27 Feb 2018,2.0,Yeovil,50.947179,-2.668908,3.9
19979,BA21 5XN,170000,Semi-Detached,0,0,03 Dec 2007,3.0,Yeovil,50.955535,-2.609273,1.3
19980,BA21 3NP,169450,Semi-Detached,0,1,31 Mar 2006,2.0,Yeovil,50.953613,-2.653838,3.0
19981,BA21 3PJ,171000,Semi-Detached,0,0,27 Feb 2018,NaN,Yeovil,50.944344,-2.661423,3.4
19982,BA21 5UF,152000,Terraced,0,0,27 Feb 2018,3.0,Yeovil,50.957888,-2.615142,1.5
19983,BA21 5FG,137000,Terraced,0,0,12 Jan 2007,2.0,Yeovil,50.956608,-2.607095,1.4
19984,BA21 5EU,43000,Terraced,0,0,28 Mar 1996,NaN,Yeovil,50.957666,-2.604689,1.6
19985,BA21 5ET,206000,Detached,0,0,26 Feb 2018,NaN,Yeovil,50.957373,-2.603902,1.6
19986,BA21 3FT,182000,Detached,0,0,22 Oct 2003,NaN,Yeovil,50.955679,-2.667252,4.0
19987,BA21 5UJ,288000,Semi-Detached,0,0,26 Feb 2018,2.0,Yeovil,50.956869,-2.613961,1.4
19988,BA22 8FH,207000,Semi-Detached,0,0,12 Sep 2002,NaN,Yeovil,50.945302,-2.684256,5.0
19989,BA21 3SG,168000,Semi-Detached,0,1,21 Aug 2001,1.0,Yeovil,50.949560,-2.667646,3.8
19990,BA21 3LX,142000,Terraced,0,0,26 Feb 2018,3.0,Yeovil,50.955590,-2.661981,3.6
19991,BA21 3DU,155000,Terraced,0,0,26 Feb 2018,3.0,Yeovil,50.954023,-2.651181,2.8
19992,BA21 5ET,149950,Terraced,0,0,10 Mar 2015,NaN,Yeovil,50.957373,-2.603902,1.6
19993,BA21 5ET,156950,Terraced,0,1,01 Jun 2012,NaN,Yeovil,50.957373,-2.603902,1.6
19994,BA21 3GU,214995,Terraced,0,1,23 Feb 2018,1.0,Yeovil,50.952885,-2.660177,3.4
19995,BA20 2HE,209995,Terraced,0,1,23 Feb 2018,5.0,Yeovil,50.926585,-2.664315,3.6
19996,BA21 3TW,285000,Semi-Detached,0,1,23 Feb 2018,2.0,Yeovil,50.948956,-2.661502,3.4
19997,BA21 3NA,118000,Flat,1,0,23 Feb 2018,NaN,Yeovil,50.952585,-2.654265,3.0
19998,BA21 5EU,110000,Flat,1,0,09 Mar 2007,NaN,Yeovil,50.957666,-2.604689,1.6
19999,BA21 3BX,229495,Terraced,0,1,23 Feb 2018,3.0,Yeovil,50.953005,-2.641757,2.2

In [10]:
data = data[ data['Latitude'].isnull() == False ]#drop info without (x,y)
data.drop(columns = ['postcode'],inplace=True)
data.drop(columns = ['city'],inplace=True)
data = data.fillna(int(math.ceil(data['noBed'].mean())))
import math
data['prices'] = data['prices'].apply(math.log)
def plusone(num):
    return num + 1

def housetype2num(housetype):
    if housetype == "Semi-Detached":
        return 1
    elif housetype == "Detached":
        return 2
    elif housetype == "Terraced":
        return 3
    elif housetype == "Flat":
        return 4
    else:
        return 0

data['ownership'] = data['ownership'].apply(plusone)
data['new'] = data['new'].apply(plusone) 
data['house_types'] = data['house_types'].apply(housetype2num)

data['date'] = pd.to_datetime(data['date'])
data = data[data['date'] > '2015-01-01']
data.drop(columns = ['date'],inplace=True)
data.drop(columns=['path2station'],inplace = True)

data = pd.get_dummies(data)

In [11]:
data.to_csv("clean_data.csv",index = None)